{% extends 'blog/base_with_feature.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} | Create - Update{% endblock %}
{% block feature %}
        <center><div class="content-section">
            <form method="post" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    <br/><br/>
                    {{ form.media }}
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </form>
        </div></center>
{% endblock %}