{% extends 'blog/base_with_feature.html' %}
{% block title %}{{ super }} | Delete{% endblock title %}

{% block feature %}
    <div class="main">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
        <a href="{% url 'blog:index' %}">Cancel</a>
    </form>
</div>
{% endblock %}