{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ super }} | Details{% endblock %}

<!-- s-content
================================================== -->
{% block content %}

    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div class="entry__media col-full">
                <div class="entry__post-thumb">
                    <img style="width: 2000px" src="" alt="">
                </div>
            </div>

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{ article.category.title }}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{ article.createdTime|date:'F d, Y' }}</li>
                    <li class="byline">
                        By
                        <a href="">{{ article.author.user.first_name }} {{ article.author.user.last_name }}</a>
                    </li>
                </ul>
            </div>

            <p>
                <img style="width: 2000px" src="{{ article.cover.url }}" alt="">
            </p>

            {% if article.language == 'Persian' %}
                <h2 style="text-align: right">{{ article.title }}</h2>
                <p style="text-align: right">
                    {{ article.content|safe }}
                </p>
            {% else %}
                <h2 style="text-align: left">{{ article.title }}</h2>
                <p style="text-align: left">
                    {{ article.content|safe }}
                </p>
            {% endif %}


            <div class="entry__author">
                <img src="{{ article.author.avatar.url }}" alt="">
                <br/><br/><br/><br/>
                <div class="entry__author-about">
                    <h5 class="entry__author-name">
                        <span>پست شده توسط</span>
                        <a href="#0">{{ article.author.user.first_name }} {{ article.author.user.last_name }}</a>
                    </h5>

                    <div class="entry__author-desc">
                        <p>
                            {{ article.author.description|safe }}
                        </p>
                    </div>
                </div>
            </div>

        </article> <!-- end entry/article -->

    </section> <!-- end s-content -->

{% endblock %}
