<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>BlogSite{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    {% block css %}{% endblock %}

    <!-- script
    ================================================== -->
    <script src="{% static 'blog/js/modernizr.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'blog/favicon.ico' %}" type="image/x-icon">

</head>
<body id="top">

<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- header
================================================== -->
<header class="s-header header">

    <div class="header__logo">
        <a class="logo" href="{% url 'blog:index' %}">
            BLOGSITE
        </a>
    </div> <!-- end header__logo -->

    <a class="header__toggle-menu" href="#0" title="Menu"><span>منو</span></a>
    <nav class="header__nav-wrap">

        <h2 class="header__nav-heading h6">هدایت به</h2>

        <ul class="header__nav">
            <li class="current"><a href="{% url 'blog:index' %}" title="">خانه</a></li>
            <li class="has-children">
                <a href="#0" title="">دسته بندی</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'blog:category_android' %}">اندروید</a></li>
                    <li><a href="{% url 'blog:category_web' %}">وب</a></li>
                    <li><a href="{% url 'blog:category_desktop' %}">دسکتاپ</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="#0" title="">پست ها</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'blog:videoPage' %}">پست ویدیویی</a></li>
                    <li><a href="{% url 'blog:audioPage' %}">پست صوتی</a></li>
                    <li><a href="{% url 'blog:singlePage' %}">پست استاندارد</a></li>
                </ul>
            </li>
            <li><a href="{% url 'blog:contact' %}" title="">تماس</a></li>
            <li><a href="{% url 'blog:about' %}" title="">درباره</a></li>
            <li class="has-children">
                <a href="#0" title="">کاربران</a>
                <ul class="sub-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'blog:article_create' %}">درج مقاله جدید</a></li>
                        <li><a href="{% url 'profile' %}">پروفایل</a></li>
                        <li><a href="{% url 'logout' %}">خروج</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">ثبت نام</a></li>
                        <li><a href="{% url 'login' %}">ورود</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul> <!-- end header__nav -->

        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">بستن</a>

    </nav> <!-- end header__nav-wrap -->

</header> <!-- s-header -->

<!-- featured
================================================== -->
<section class="s-featured">
    {% block feature %}{% endblock %}
</section> <!-- end s-featured -->

<!-- s-content
================================================== -->
{% block content %}{% endblock %}

<!-- s-footer
================================================== -->
<footer class="s-footer">

    <div class="s-footer__main">
        <div class="row">

            <div class="col-six tab-full s-footer__about">

                <h4>درباره BLOGSITE</h4>

                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

            </div> <!-- end s-footer__about -->

            <div class="col-six tab-full s-footer__subscribe">

                <h4>لورم ایپسوم</h4>

                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای.</p>

                <div class="subscribe-form">
                    {% include 'blog/subscribe_form.html' %}
                </div>

            </div> <!-- end s-footer__subscribe -->

        </div>
    </div> <!-- end s-footer__main -->

    <div class="s-footer__bottom">
        <div class="row">

            <div class="col-six">
                <ul class="footer-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-six">
                <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                </div>
            </div>

        </div>
    </div> <!-- end s-footer__bottom -->

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>

</footer> <!-- end s-footer -->

<!-- Java Script
================================================== -->
<script src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'blog/js/plugins.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
{% block script %}{% endblock %}

</body>
</html>