{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ super }} | Category_Android{% endblock %}

<!-- s-content
================================================== -->
{% block content %}

    <section class="s-content s-content--top-padding">

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep">دسته بندی ها</h1>
                <p class="lead">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                    است
                    چاپگرها و متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و
                    کاربردهای</p>
            </div>
        </div>

        <div class="row entries-wrap wide">
            <div class="entries">
                {% for article in article_list %}
                    {% for category in article.category.all %}
                        {% if 'Android' in category.title %}
                            <article class="col-block">
                                <div class="item-entry" data-aos="zoom-in">
                                    <div class="item-entry__thumb">
                                        <a href="{% url 'blog:article_detail' article.id %}"
                                           class="item-entry__thumb-link">
                                            <img src="{{ article.cover.url }}" alt="">
                                        </a>
                                    </div>

                                    <div class="item-entry__text">
                                        <div class="item-entry__cat">
                                            <a href="{% url 'blog:category_android' %}">{{ article.category.title }}</a>
                                        </div>

                                        <h1 class="item-entry__title"><a
                                                href="{% url 'blog:singlePage' %}">{{ article.title }}</a></h1>

                                        <div class="item-entry__date">
                                            <a href="{% url 'blog:article_detail' article.id %}">{{ article.publishedTime.date }}</a>
                                        </div>
                                    </div>
                                </div> <!-- item-entry -->

                            </article> <!-- end article -->
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        {% if is_paginated %}
                            {% if page_obj.has_previous %}
                                <li><a class="btn btn-outline-info mb-4" href="?page=1">First</a></li>
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li><a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'2' %}
                                    <li><a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- end s-content -->

{% endblock %}