{% extends 'blog/base_with_feature.html' %}
{% load static %}

{% block title %}{{ super }} | Index{% endblock %}

<!-- featured
================================================== -->
{% block feature %}

    <div class="row">
        <div class="col-full">

            <div class="featured-slider featured" data-aos="zoom-in">
                {% for promote_article in all_promote_articles %}
                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url('{{ promote_article.cover.url }}');"></div>

                            <div class="entry__content">
                                <span class="entry__category">
                                {% if promote_article.category.title == 'Web' %}
                                    <a href="{% url 'blog:category_web' %}"><b>{{ promote_article.category.title }}</b></a>
                                {% elif promote_article.category.title == 'Android' %}
                                    <a href="{% url 'blog:category_android' %}"><b>{{ promote_article.category.title }}</b></a>
                                {% endif %}
                                </span>

                                <h1><a href="{% url 'blog:article_detail' promote_article.id %}"
                                       title="">{{ promote_article.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{{ promote_article.author.avatar.url }}" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">{{ promote_article.author.user }}</a></li>
                                        <li>{{ promote_article.publishedTime.date|date:'F d, Y' }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->
                {% endfor %}
            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>

{% endblock %}

<!-- s-content
================================================== -->
{% block content %}

    <section class="s-content">
        <div class="row entries-wrap wide">
            <div class="entries">
                {% for article in article_list %}
                    <article class="col-block">

                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="{% url 'blog:article_detail' article.id %}" class="item-entry__thumb-link">
                                    <img src="{{ article.cover.url }}" alt="">
                                </a>
                            </div>

                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    {% if article.category.title == 'Web' %}
                                        <a href="{% url 'blog:category_web' %}"><b>{{ article.category.title }}</b></a>
                                    {% elif article.category.title == 'Android' %}
                                        <a href="{% url 'blog:category_android' %}"><b>{{ article.category.title }}</b></a>
                                    {% endif %}
                                </div>

                                <h1 class="item-entry__title"><a
                                        href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
                                </h1>

                                <div class="item-entry__date">
                                    <a href="#0">{{ article.publishedTime.date|date:'F d, Y' }}</a>
                                </div>
                            </div>
                        </div> <!-- item-entry -->
                    </article> <!-- end article -->

                {% endfor %}
            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        {% if is_paginated %}
                            {% if page_obj.has_previous %}
                                <li><a class="btn btn-outline-info mb-4" href="?page=1">First</a></li>
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li><a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'2' %}
                                    <li><a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                <li><a class="btn btn-outline-info mb-4"
                                       href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section> <!-- end s-content -->

{% endblock %}