{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}{{ super }} | Contact{% endblock %}

<!-- s-content
================================================== -->
{% block content %}

    <section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">با ما در تماس باشید</h1>
                <p class="lead">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای</p>
            </div>
        </div>

        <div class="row">
            <div class="col-full s-content__main">
                <p>
                    <img src="{% static 'blog/images/thumbs/contact/contact-1000.jpg' %}"
                         srcset="{% static 'blog/images/thumbs/contact/contact-2000.jpg' %},
                     {% static 'blog/images/thumbs/contact/contact-1000.jpg' %},
                     {% static 'blog/images/thumbs/contact/contact-500.jpg' %}"
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </p>

                <h2 style="text-align: right">سلام</h2>

                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای

                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای
                </p>

                <div id="map-wrap">
                    <div id="map-container"></div>
                    <div id="map-zoom-in"></div>
                    <div id="map-zoom-out"></div>
                </div>

                <div class="row">
                    <div class="col-six tab-full">
                        <h4 style="text-align: right;">آدرس ما</h4>

                        <p>
                            ایران<br>
                            اصفهان<br>
                            خمینی شهر
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h4 style="text-align: right">اطلاعات تماس</h4>

                        <p>persian1379pr@gmail.com<br>
                            persian1379pr@yahoo.com<br>
                            Phone: (+98) 913-648-95-30
                        </p>

                    </div>
                </div>

                <h4 style="direction: rtl">با ما در تماس باشید با:</h4>

                <form name="cForm" id="cForm" class="contact-form" method="post" action="">
                    {% csrf_token %}
                    <legend class="border-bottom mb-4" style="direction: rtl">با ما در تماس باشید با:</legend>
                    <fieldset>
                        <div class="form-field">
                            {#                            <label for="cName"></label><input style="direction: rtl" name="cName" id="cName" class="full-width" placeholder="نام" value="" type="text">#}
                            {{ form.name }}
                        </div>
                        <div class="form-field">
                            {#                            <label for="cEmail"></label><input style="direction: rtl" name="cEmail" id="cEmail" class="full-width" placeholder="ایمیل" value="" type="text">#}
                            {{ form.email }}
                        </div>
                        <br><br>
                        <div class="message form-field">
                            {#                            <textarea style="direction: rtl" name="cMessage" id="cMessage" class="full-width" placeholder="پیام"></textarea>#}
                            {{ form.media }}
                            {{ form.text }}
                        </div>

                        <button type="submit" class="submit btn btn--primary btn--large full-width">ارسال</button>

                    </fieldset>
                </form>

            </div> <!-- s-content__main -->
        </div> <!-- end row -->

    </section> <!-- end s-content -->

{% endblock %}

<!-- Java Script
================================================== -->
{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>{% endblock %}


