{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ super }} | About{% endblock %}

<!-- s-content
================================================== -->
{% block content %}

    <section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep" style="direction: rtl">درباره BLOGSITE</h1>
                <p class="lead">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای</p>
            </div>
        </div>

        <div class="row">
            <div class="col-full s-content__main">
                <p>
                    <img src="{% static 'blog/images/thumbs/about/about-1000.jpg' %}"
                         srcset="{% static 'blog/images/thumbs/about/about-2000.jpg' %},
                             {% static 'blog/images/thumbs/about/about-1000.jpg' %},
                             {% static 'blog/images/thumbs/about/about-500.jpg' %}"
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </p>

                <h2 style="text-align:right"> لورم ایپسوم</h2>

                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای

                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و
                    متون بلکه روزنامه مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای
                </p>

                <hr>
            </div> <!-- s-content__main -->
        </div> <!-- end row -->

    </section> <!-- end s-content -->

{% endblock %}