<form id="mc-form" class="group" method="post" action="">
    {% csrf_token %}
{#    <input type="email" value="" name="EMAIL" class="email" id="mc-email"#}
{#           placeholder="Email Address" required="">#}
    {{ form.email }}

    <input type="submit" name="subscribe" value="ارسال">

    <label for="mc-email" class="subscribe-message"></label>
</form>
