{% extends 'blog/base.html' %}
{% block title %}LogOut{% endblock %}
{% block content %}
    <section class="s-content s-content--top-padding s-content--narrow">
        <div class="row narrow">
            <center><h3>You have been<br>
                <big style="color: red">"Logged Out"</big>
            </h3></center>
            <div class="border-top pt-3">
                <big class="text-muted" style="color: green;">
                    <big><center><a href="{% url 'login' %}">Tap Here To "Login Again"</a></center></big>
                </big>
            </div>
        </div>
    </section>
{% endblock %}