{% extends 'blog/base_with_feature.html' %}
{% block feature %}
    <div class="alert alert-info" style="color: green">
        <big><i><center>Your Password has been Set Correctly.</center></i></big>
    </div>
    <big><center><a href="{% url 'login' %}" >Sign In Here</a></center></big>
{% endblock %}