{% extends 'blog/base_with_feature.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}ResetPass{% endblock %}
{% block feature %}
    <center><div class="content-section" style="width:800px; margin:0 auto;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><big style="color: limegreen">Reset Password</big></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div></center>
{% endblock %}