{% extends 'blog/base_with_feature.html' %}
{% block feature %}
    <div class="alert alert-info" style="color:greenyellow;width:800px; margin:0 auto;">
        <big><center><i>Successfully An Email has been sent with instructions to reset your password</i></center></big>
    </div>
{% endblock %}