{% extends 'blog/base_with_feature.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block feature %}
    <center>
        <div class="content-section">
            <div class="media">
                {% if user.userprofile.avatar.url %}
                    <img class="rounded-circle account-img" src="{{ user.userprofile.avatar.url }}" alt="">
                {% else %}
                    <img class="rounded-circle account-img" src="{% static 'blog/images/avatars/user-01.jpg' %}" alt="">
                {% endif %}
                <div class="media-body">
                    <h2 class="account-heading">User name : {{ user.username }}</h2>
                    <h3 class="account-heading">Name : {{ user.first_name }} {{ user.last_name }}</h3>
                    <p class="text-secondary" style="text-align: center">Email : {{ user.email }}</p>
                </div>
            </div>
            <hr/>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    <label>User name : </label>
                    {{ u_form.username }}<br/>
                    <label>First name : </label>
                    {{ u_form.first_name }}<br/>
                    <label>Last name : </label>
                    {{ u_form.last_name }}<br/>
                    <label>Email : </label>
                    {{ u_form.email }}<br/>
                    <label>Avatar : </label>
                    {{ p_form.avatar }}<br/>
                    <label>Description : </label>
                    {{ p_form.media }}
                    {{ p_form.description }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </center>
{% endblock %}